{% if ennumerator.items %}
  {% load i18n %}
  <div class="filter-ennumerator form-group input-group">
      <label class="control-label" for="ennumerator-selector">{% trans "Enumerator" %}</label>
      <select id="ennumerator-selector" name="ennumerator" class="form-control">
        <option value="All Ennumerators" selected="selected">All Enumerators</option>
        {% for ennumerator in ennumerator.items %}
          <option value="{{ ennumerator }}">{{ ennumerator | title }}</option>
        {% endfor %}
      </select>
  </div>
{% endif %}
