{% if enumerator.items %}
  {% load i18n %}
  <div class="filter-enumerator form-group input-group">
      <label class="control-label" for="enumerator-selector">{% trans "Enumerator" %}</label>
      <select id="enumerator-selector" name="enumerator" class="form-control">
        <option value="All Enumerators" selected="selected">All Enumerators</option>
        {% for enumerator in enumerator.items %}
          <option value="{{ enumerator }}"{% if enumerator == request.GET.enumerator %} selected="selected"{% endif %}>{{ enumerator }}</option>
        {% endfor %}
      </select>
  </div>
{% endif %}
