{% if gender.items %}
  {% load i18n %}
  <div class="filter-gender input-group">
      <label class="control-label" for="gender-selector">{% trans "Gender" %}</label>
      <select id="gender-selector" name="gender" class="form-control">
        <option value="All Genders" selected="selected">All Genders</option>
        {% for gender in gender.items %}
          <option value="{{ gender }}"{% if gender == request.GET.gender %} selected="selected"{% endif %}>{{ gender | title }}</option>
        {% endfor %}
      </select>
  </div>
{% endif %}
