{% if source_filters.items %}
  {% load i18n %}
  <div class="filter-source form-group input-group">
    <div class="select-container">
      <label class="col-sm-3 control-label" for="source-selector">{% trans "Source" %}</label>
      <select style="width:100px;" id="source-selector" name="source" class="form-control">
        <option value="All Sources" selected="selected">All Sources</option>
        {% for source in source_filters.items %}
          <option value="{{ source }}">{{ source | title }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endif %}
