*.pyc
.coverage
.pytest_cache
internewshid/local_settings.py
internewshid/private_settings.py
internewshid/.ve
internewshid/distribute-*.tar.gz
internewshid/*.sqlite
internewshid/static
internewshid/uploads
*.sql
*.sql.gz
TAGS
