[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
asgiref = "*"
"django-bootstrap3" = "*"
"django-tables2" = "*"
"django.js" = {ref = "ca328a94b00023bd64f4fc1c908675edaaf2ac19",git = "https://git@github.com/aptivate/django.js.git",editable = true}
"linecache2" = "*"
Django = ">2.2.8,<3.0"
Pillow = "*"
cssmin = "*"
django-assets = "*"
django-braces = "*"
django-constance = {extras = ["database"],version = "*"}
django-filter = "*"
django-floppyforms = "*"
django-form-utils = "*"
django-widget-tweaks = "*"
djangorestframework = "*"
djangorestframework-bulk = "*"
jsmin = "*"
jsonfield = "*"
openpyxl = "*"
python-dateutil = "*"
pytz = "*"
rest-pandas = "*"
mysqlclient = "*"
django-debug-toolbar-template-timings = "*"

[dev-packages]
django-debug-toolbar = "*"
django-extensions = "*"
factory_boy = "*"
isort = "*"
mock = "*"
py = "*"
pylava = "*"
pyparsing = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-env = "*"
pytest-pythonpath = "*"
werkzeug = "*"
pydocstyle = "*"
django-dynamic-fixture = "*"
safety = "*"
