{% extends "djangojs/qunit-runner.html" %}
{% block js_content %}
    <script>
        QUnit.test('Select all checbox is added to header', function(assert) {
            var $header_checkbox = jQuery('th.select_action input[type="checkbox"]');
            assert.equal($header_checkbox.length, 1, 'Expected a checkbox in the header');
        });
        QUnit.test('Clicking the select all checkbox selects all', function(assert) {
            var $header_checkbox = jQuery('th.select_action input[type="checkbox"]');
            var $selected_checkboxes = jQuery('td.select_action input:checked');

            // Ensure none are checked
            $selected_checkboxes.prop('checked', false);

            // Simulte click
            $header_checkbox.click();

            // Ensure all are checked
            $selected_checkboxes = jQuery('td.select_action input:checked');
            assert.equal($selected_checkboxes.length, 2, 'Expected all checkboxes to be checked');
        });
    </script>
{% endblock %}
{% block body_content %}
    <form>
        <table>
            <thead>
                <tr>
                    <th class="select_action">
                    </th>
                    <th>
                        A field
                    </th>
                 </tr>
             </thead>
             <tbody>
                 <tr>
                     <td class="select_action">
                         <input type="checkbox" />
                     </td>
                     <td>
                         A value
                     </td>
                 </tr>
                 <tr>
                     <td class="select_action">
                         <input type="checkbox" />
                     </td>
                     <td>
                         Another value
                     </td>
                 </tr>
             </tbody>
         </table>
     </form>
{% endblock %}
