{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}


{% block maincontent %}
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default login-form">
            <div class="form-group panel-body">
                <h3> {% bootstrap_icon "user" %} HID login </h3>
                <form action="." method="post">{% csrf_token %}
                {% bootstrap_form form show_label=False %}
                {% bootstrap_button "Log in" button_type="submit" value="Log in" button_class="pull-right" %}
                </form>
            </div>
        </div>
    </div>
{% endblock maincontent %}
