{% extends "base_side.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block maincontent %}
    <h1 class="page-header"><span class="fa fa-pencil fa-fw"></span>{% trans "View &amp; Edit: " %}<span class="item-type">{% trans "Question" %}</span></h1>
        <div class="col-lg-8 col-lg-offset-2">
            <form id="single-item-form" role="form">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                        <p class="item-meta-info">{% trans "Added by " %}<span class="item-added-user" >William</span> {% trans "on " %} <span class="item-meta item-date-added">15 Jul 2015 at 12:00</span>. {% trans "Updated by " %} <span class="item-updated-user" >William</span> {% trans "on " %} <span class="item-meta item-date-updated">15 Jul 2015 at 12:00</span></p>
                                    </div>
                                <div class="col-xs-12">
                                    <div class="col-xs-12 input-group form-group item-text">
                                        <label> {% trans "Question" %}: <span class="item-id">Qt-xx-00124</span> </label>
                                        <textarea class="form-control" placeholder="{% trans "Type your question text here" %}" rows="4">I have been told that very soon Liberia will be declar ebolo free, now i want to know if there is any ebola case.</textarea>
                                    </div>
                                    <div class="col-xs-12 form-group input-group item-tags">
                                      <span class="input-group-addon"><span class="fa fa-tags fa-fw"></span> {% trans "Tags" %}</span>
                                      <input type="text" class="form-control" placeholder="type and hit enter" data-role="tagsinput">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="col-sm-4 col-xs-12 pull-left form-group input-group item-reported-date">
                                        <label>{% trans "Reported date" %}</label>
                                        <input type="text" class="form-control" placeholder="dd/mm/yy" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="col-sm-4 col-xs-12 pull-left form-group input-group item-category">
                                        <label>{% trans "Category" %}</label>
                                        <div class="selectContainer">
                                            <select name="language" class="form-control">
                                                <option value="null">{% trans "Select Category" %}</option>
                                                <option value="ebola-origins">{% trans "Ebola ~ Origins" %}</option>
                                                <option value="ebola-measures">{% trans "Ebola ~ Measures" %}</option>
                                                <option value="ebola-updates">{% trans "Ebola ~ Updates" %}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-12 pull-left form-group input-group item-region">
                                        <label>{% trans "Region" %}</label>
                                        <div class="selectContainer">
                                            <select name="language" class="form-control">
                                                <option value="null">{% trans "Select region..." %}</option>
                                                <option value="region1">{% trans "Region One" %}</option>
                                                <option value="region2">{% trans "Region Two" %}</option>
                                                <option value="region3">{% trans "Region Three" %}</option>
                                            </select>
                                        </div>
                                    </div>
                            </div>
                        </div>  
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group btn-group pull-left">
                            {% bootstrap_button "Delete" button_type="submit" value="delete" button_class="btn btn-danger btn-sm" %}
                        </div>
                        <div class="form-group btn-group pull-right">
                            {% bootstrap_button "Cancel" button_type="submit" value="Cancel" button_class="btn btn-sm" %}
                            {% bootstrap_button "Update" button_type="submit" value="update" button_class="btn btn-sm btn-success" %}
                        </div>
                    </div>  
                 </div>
                    </div>
                    </form>
                </div>
            

{% endblock maincontent %}
{% block lastjs %}
{% endblock lastjs %}