{% extends "base_side.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block maincontent %}
<h1 class="page-header"><span class="fa fa-pencil fa-fw"></span>{% trans "View &amp; Edit: " %}<span class="item-type">{% trans "Question" %}</span></h1>
 <div class='row'>
    <div class="col-lg-12">
        <form id="single-item-form" role="form">
            <div class="panel panel-default">
                <div class="panel-body">
                        <div class="col-lg-12">
                            <ul class="list-unstyled item-meta-dates clearfix col-lg-8">
                                <li class="item-added-date"><span class="fa fa-calendar fa-fw"></span><span class="item-meta-label">{% trans "Added: " %}</span>
                                    15 jul 2015
                                </li>
                                <li class="item-updated-date"><span class="fa fa-calendar fa-fw"></span><span class="item-meta-label">{% trans "Updated: " %}</span>
                                    18 jul 2015
                                </li>
                                <li class="item-reported-date"><span class="fa fa-calendar fa-fw"></span><span class="item-meta-label">{% trans "Reported: " %}</span>
                                    10 jul 2015
                                </li>
                            </ul>
                            <div class="col-lg-4 pull-right">
                                <div class="form-group btn-group pull-right">
                                    {% bootstrap_button "Cancel" button_type="submit" value="Cancel" button_class="btn btn-sm" %}
                                    {% bootstrap_button "Update" button_type="submit" value="update" button_class="btn btn-sm btn-success" %}
                                </div>
                            </div>
                            <div class="col-lg-12"></div>
                             <div class="col-lg-12 item-body">   
                                <div class="form-group well">
                                    <label><span class="fa fa-question-circle fa-fw"></span> {% trans "Question" %}</label>
                                    <textarea class="form-control" placeholder="{% trans "Add the content of the question here" %}" rows="3">I have been told that very soon Liberia will be declar ebolo free, now i want to know if there is any ebola case.</textarea>
                                </div>
                                <div class="col-xs-12 form-group input-group ">
                                  <span class="input-group-addon"><span class="fa fa-tags fa-fw"></span> {% trans "Tags" %}</span>
                                  <input type="text" class="form-control" placeholder="add tags, seperated, by comma" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 item-dropdowns">
                            <div class="col-xs-6 form-group input-group pull-left">
                                <label class="col-xs-4 control-label"><span class="fa fa-sitemap fa-fw"></span> {% trans "Category" %}</label>
                                <div class="col-xs-8 pull-right selectContainer">
                                    <select name="language" class="form-control">
                                        <option value="null">{% trans "Select Category" %}</option>
                                        <option value="ebola-origins">{% trans "Ebola ~ Origins" %}</option>
                                        <option value="ebola-measures">{% trans "Ebola ~ Measures" %}</option>
                                        <option value="ebola-updates">{% trans "Ebola ~ Updates" %}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6 form-group input-group ">
                                <label class="col-xs-4 control-label"><span class="fa fa-globe fa-fw"></span> Region</label>
                                <div class="col-xs-8 selectContainer">
                                    <select name="language" class="form-control">
                                        <option value="null">{% trans "Select region..." %}</option>
                                        <option value="region1">{% trans "Region One" %}</option>
                                        <option value="region2">{% trans "Region Two" %}</option>
                                        <option value="region3">{% trans "Region Three" %}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group btn-group">
                                    {% bootstrap_button "Delete" button_type="submit" value="delete" button_class="btn btn-danger btn-sm" %}
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="form-group btn-group pull-right">
                                    {% bootstrap_button "Cancel" button_type="submit" value="Cancel" button_class="btn btn-sm" %}
                                    {% bootstrap_button "Update" button_type="submit" value="update" button_class="btn btn-sm btn-success" %}
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </form>
    </div>
</div>
            

{% endblock maincontent %}