{% extends "base_side.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block maincontent %}
    <h1 class="page-header"><span class="fa fa-quote-left fa-fw"></span>{% trans "View " %}<span class="item-type">{% trans "Question" %}</span></h1>
        <div class="col-lg-8 col-lg-offset-2">
            <div class="jumbotron col-xs-12 view-item-text">
                <p>
                    <span class="fa fa-quote-left fa-fw"></span>
                    I have been told that very soon Liberia will be declar ebolo free, now i want to know if there is any ebola case.
                    <span class="fa fa-quote-right fa-fw">
                </p>
                <hr />
                <div class="item-meta">
                    <p class="item-meta-info" style="font-size:90%">{% trans "Added by " %}<span class="item-added-user" >William</span> {% trans "on " %} <span class="item-meta item-date-added">15 Jul 2015 at 12:00</span>. {% trans "Updated by " %} <span class="item-updated-user" >William</span> {% trans "on " %} <span class="item-meta item-date-updated">15 Jul 2015 at 12:00</span></p>
                    
                    <h2 class="small" style="display:inline-block; margin:5px 10px 5px 0; float:left;"><span class="fa fa-tags fa-fw"></span>{% trans "Tags: " %}</h2></span>
                    <ul class="list-unstyled">
                        <li class="label label-tag">geopoll</li>
                        <li class="label label-tag">liberia</li>
                    </ul>
                    <hr />
                </div>
                    <div class="row">
                        <div class="form-group btn-group pull-right">
                            {% bootstrap_button "Edit" button_type="submit" value="update" button_class="btn btn-sm" %}
                        </div>
                    </div>  
                </div>
            </div>
            

{% endblock maincontent %}
{% block lastjs %}
{% endblock lastjs %}