{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block maincontent %}
<h2>{% trans "View data" %}</h2>

<form action="{% url "data-view-process" %}" method="post" class="view-items-form">{% csrf_token %}

    {% with pagination_class="pull-left" %}
    {% render_table table %}
    {% endwith %}

    {% block table_finished %}
    <div class="col-sm-2 pull-right">
        {% bootstrap_button "Update" button_type="submit" value="Update" button_class="btn-block btn-primary table-submit" %}
    </div>
    {% endblock table_finished %}
</form>

{% endblock maincontent %}

{% block lastjs %}
<script type="text/javascript">
(function ($) {
    var selectors = {
        td_input : '.view-items-form td.delete > input',
        th_delete : '.view-items-form th.delete'
    };

    function addCheckbox(selector, check_id) {
        var check = $('<input>', {
                type: 'checkbox',
                id: check_id
            }),
            label = $('<label>', {
                for: check_id
            });

        label.html(
            $(selector).html()
        );

        $(selector).html("")
                   .append(check)
                   .append(label);
    }

    function toggleSelection(e) {
        var checked = $(e.target).prop("checked");
        $(selectors.td_input).prop("checked", checked);
    }

    function setSelectAll(e) {
        var checked = $(selectors.td_input + ':checked').length,
            all = $(selectors.td_input).length,
            checked_all = all === checked;

        $(selectors.th_delete + ' input').prop("checked", checked_all);
    }

    function init() {
        addCheckbox(selectors.th_delete, 'select-all-items');

        $(selectors.th_delete + ' input').on('change', toggleSelection);
        $(selectors.td_input).on('change', setSelectAll);
    }

    init();
})(jQuery);
</script>
{% endblock lastjs %}
