{% extends "base_side.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load widget_tweaks %}

{% block maincontent %}
<div class="container-fluid">
    <form id="single-item-form" role="form" method="POST">
        {% csrf_token %}
        {{ form.id }}
        {{ form.next }}
        <div class="panel panel-gray panel-rounded">
            <div class="panel-body">
                <div class="item-attributes">
                    {% if form.category %}
                    <div class="item-category form-group input-group {% if form.category.errors %}has-error{% endif %}">
                        <label class="control-label" for="meta-category">
                            {% trans "Theme" %}
                            {% if form.category.errors %}
                            <span class='help-block'>({{ form.category.errors|join:", " }})</span>
                            {% endif %}
                        </label>
                        {{ form.category|add_class:'form-control'|attr:"id:meta-category;" }}
                    </div>
                    {% endif %}

                    {% if form.feedback_type %}
                    <div class="item-feedback-type form-group input-group {% if form.feedback_type.errors %}has-error{% endif %}">
                        <label class="control-label" for="feedback_type.name">
                            {% trans "Type" %}
                            {% if form.feedback_type.errors %} <span class='help-block'>({{ form.feedback_type.errors|join:", " }})</span> {% endif %}
                        </label>
                        <select name="{{ form.feedback_type.name }}" class="form-control" id="feedback_type.name" multiple autocomplete="off">
                            {% for choice in form.feedback_type.field.choices %}
                            {% if choice.0 in form.initial.feedback_types %}
                            <option selected="selected" value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% else %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}

                    {% if form.tags %}
                    <div class="item-tags form-group input-group {% if form.tags.errors %}has-error{% endif %}">
                        <label class="control-label" for="meta-tags">
                            {% trans "Tags" %}
                            {% if form.tags.errors %}
                            <span class='help-block'>({{ form.tags.errors|join:", " }})</span>
                            {% endif %}
                        </label>
                        {{ form.tags|add_class:'form-control'|attr:"id:meta-tags"|attr:_('placeholder:Type and hit return')|attr:'data-role:tagsinput' }}
                    </div>
                    {% endif %}

                    <div class="item-apply form-group input-group">
                        {% bootstrap_button _("Cancel") button_type="submit" name="action" value="cancel" button_class="btn btn-md btn-border" %}
                        {% if update %}
                        {% bootstrap_button _("Update") button_type="submit" name="action" value="update" button_class="btn btn-md btn-success" %}
                        {% else %}
                        {% bootstrap_button _("Create") button_type="submit" name="action" value="create" button_class="btn btn-md btn-success" %}
                        {% endif %}
                    </div>

                </div>
                <div class="item-content">
                    <div class="item-source-wrapper">
                        {% if form.body %}
                        <div class="item-original-text {% if form.body.errors %}has-error{% endif %}">
                            <label>
                                {% trans "Feedback" %}
                                <span class="item-id">{{ item.id }}{% if item.external_id %} ({{ item.external_id }}){% endif %}</span>
                                {% if form.body.errors %}
                                <span class='help-block'>({{ form.body.errors|join:", " }})</span>
                                {% endif %}
                            </label>
                            {{ form.body|add_class:'form-control'|attr:_("placeholder:Type your original text here") }}
                        </div>
                        {% endif %}

                        <div class="item-source-meta">

                            <div class="item-reported-date {% if form.timestamp.errors %}has-error{% endif %}">
                                <label for="meta-reported">
                                    {% trans "Reported date" %}
                                    {% if form.timestamp.errors %}
                                    <span class='help-block'>({{ form.timestamp.errors|join:", " }})</span>
                                    {% endif %}
                                </label>
                                {{ form.timestamp|add_class:'form-control'|attr:"id:meta-reported"|attr:"placeholder:yyyy-mm-dd"|attr:"aria-describedby:basic-addon1" }}
                            </div>

                            {% if form.region %}
                            <div class="item-region {% if form.region.errors %}has-error{% endif %}">
                                <label for="meta-region">
                                    {% trans "Region" %}
                                    {% if form.region.errors %}
                                    <span class='help-block'>({{ form.region.errors|join:", " }})</span>
                                    {% endif %}
                                </label>
                                <div class="selectContainer">
                                    {{ form.region|add_class:'form-control'|attr:"id:meta-region" }}
                                </div>
                            </div>
                            {% endif %}

                            {% if form.location %}
                            <div class="item-location {% if form.location.errors %}has-error{% endif %}">
                                <label for="meta-location">
                                    {% trans "Location" %}
                                    {% if form.location.errors %}
                                    <span class='help-block'>({{ form.location.errors|join:", " }})</span>
                                    {% endif %}
                                </label>
                                {{ form.location|add_class:'form-control'|attr:"id:meta-location"|attr:"style:resize:none;" }}
                            </div>
                            {% endif %}

                            {% if form.sub_location %}
                            <div class="item-sub-location {% if form.sub_location.errors %}has-error{% endif %}">
                                <label for="meta-sub-location">
                                    {% trans "Sub-Location" %}
                                    {% if form.sub_location.errors %}
                                    <span class='help-block'>({{ form.sub_location.errors|join:", " }})</span>
                                    {% endif %}
                                </label>
                                {{ form.sub_location|add_class:'form-control'|attr:"id:meta-sub-location"|attr:"style:resize:none;" }}
                            </div>
                            {% endif %}

                            {% if form.language %}
                            <div class="item-language {% if form.language.errors %}has-error{% endif %}">
                                <label for="meta-language">
                                    {% trans "Language" %}
                                    {% if form.language.errors %}
                                    <span class='help-block'>({{ form.language.errors|join:", " }})</span>
                                    {% endif %}
                                </label>
                                {{ form.language|add_class:'form-control'|attr:"id:meta-language"|attr:"style:resize:none;" }}
                            </div>
                            {% endif %}

                            {% if form.risk %}
                            <div class="item-risk {% if form.risk.errors %}has-error{% endif %}">
                                <label for="meta-risk">
                                    {% trans "Risk" %}
                                    {% if form.language.errors %}
                                    <span class='help-block'>({{ form.risk.errors|join:", " }})</span>
                                    {% endif %}
                                </label>
                                {{ form.risk|add_class:'form-control'|attr:"id:meta-risk"|attr:"style:resize:none;" }}
                            </div>
                            {% endif %}

                            {% if form.gender %}
                            <div class="item-gender {% if form.gender.errors %}has-error{% endif %}">
                                <label for="meta-gender">
                                    {% trans "Gender" %}
                                    {% if form.gender.errors %}
                                    <span class='help-block'>({{ form.gender.errors|join:", " }})</span>
                                    {% endif %}
                                </label>
                                {{ form.gender|add_class:'form-control'|attr:"id:meta-gender"|attr:"style:resize:none;" }}
                            </div>
                            {% endif %}

                            {% if form.age_range %}
                            <div class="item-age-range {% if form.age_range.errors %}has-error{% endif %}">
                                <label for="meta-age">
                                    {% trans "Age range" %}
                                    {% if form.age_range.errors %}
                                    <span class='help-block'>({{ form.age.errors|join:", " }})</span>
                                    {% endif %}
                                </label>
                                <select name="{{ form.age_range.name }}" class="form-control" id="meta-age">
                                    {% for choice in form.age_range.field.choices %}
                                    {% if form.initial.age_range == choice.0 %}
                                    <option selected="" value="{{ choice.0 }}">{{ choice.1 }}</option>
                                    {% else %}
                                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            {% endif %}

                            {% if form.contributor %}
                            <div class="item-contributor {% if form.contributor.errors %}has-error{% endif %}">
                                <label for="meta-contributor">
                                    {% trans "Contributor" %}
                                    {% if form.contributor.errors %}
                                    <span class='help-block'>({{ form.contributor.errors|join:", " }})</span>
                                    {% endif %}
                                </label>
                                {{ form.contributor|add_class:'form-control'|attr:"id:meta-contributor"|attr:"style:resize:none;" }}
                            </div>
                            {% endif %}

                            {% if form.collection_type %}
                            <div class="item-collection-type {% if form.collection_type.errors %}has-error{% endif %}">
                                <label for="meta-colection">
                                    {% trans "Collection Type" %}
                                    {% if form.collection_type.errors %}
                                    <span class='help-block'>({{ form.collection_type.errors|join:", " }})</span>
                                    {% endif %}
                                </label>
                                {{ form.collection_type|add_class:'form-control'|attr:"id:meta-collection"|attr:"style:resize:none;" }}
                            </div>
                            {% endif %}

                            {% if keyvalues %}

                                {% for kv in keyvalues.items %}
                                    <div class="item-keyvalue item-keyvalue-{{ kv.0 }}">
                                        <label for="item-keyvalue-{{ kv.0 }}">{{ kv.0 }}</label>
                                        <input id="item-keyvalue-{{ kv.0 }}" class="form-control item-keyvalue-value" value="{{ kv.1 }}" disabled/>
                                    </div>
                                {% endfor %}

                            {% endif %}

                        </div>
                </div>

                {% if form.translation %}
                <div class="item-translation-text {% if form.translation.errors %}has-error{% endif %}">
                    <label for="meta-translation">
                        {% trans "Translation &amp; Notes" %}
                        {% if form.translation.errors %}
                        <span class='help-block'>({{ form.translation.errors|join:", " }})</span>
                        {% endif %}
                    </label>
                    {{ form.translation|add_class:'form-control'|attr:_("placeholder:Type your translation text here")|attr:"id:meta-translation" }}
                </div>
                {% endif %}

            </div>
            {% bootstrap_button _("Delete feedback") button_type="submit" name="action" value="delete" button_class="btn btn-danger btn-link" %}
        </div>
</div>
</form>
</div>
{% endblock maincontent %}
