{% extends "base_side.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load widget_tweaks %}

{% block maincontent %}
    <div class="col-xs-12">
        <form id="single-item-form" role="form" method="POST">
            {% csrf_token %}
            {{ form.id }}
            {{ form.next }}
            <div class="panel panel-gray">
               <div class="panel-body">
                   Editing ID {{ item.id }}
                   <div class="row">

                    {% if form.body %}
                        <div class="col-xs-12 col-md-4 input-group form-group item-original-text {% if form.body.errors %}has-error{% endif %}">
                            <label>
                               {% trans "Feedback" %}
                                {{ item_type_label }}
                                <span class="item-id">{{ item.id }}</span>
                                {% if form.body.errors %}
                                    <span class='help-block'>({{ form.body.errors|join:", " }})</span>
                                {% endif %}
                            </label>
                            {{ form.body|add_class:'form-control'|attr:"placeholder:Type your original text here" }}
                        </div>
                    {% endif %}

                    {% if form.translation %}
                        <div class="col-xs-12 col-md-4 input-group form-group item-translation-text {% if form.translation.errors %}has-error{% endif %}">
                              <label>
                                 {% trans "Translation" %}
                                  {% if form.translation.errors %}
                                      <span class='help-block'>({{ form.translation.errors|join:", " }})</span>
                                  {% endif %}
                              </label>
                              {{ form.translation|add_class:'form-control'|attr:"placeholder:Type your translation text here" }}
                        </div>
                    {% endif %}

                        <div class="col-xs-12 col-md-3 input-group form-group item-attributes-text">

                            {% if form.category %}
                            <div class="form-group pull-left input-group item-category {% if form.category.errors %}has-error{% endif %}">
                               <label>
                                     {{ item_type_label}} {% trans "type" %}
                                    {% if form.category.errors %}
                                        <span class='help-block'>({{ form.category.errors|join:", " }})</span>
                                    {% endif %}
                                </label>
                                {{ form.category|add_class:'form-control' }}
                            </div>
                            {% endif %}

                            {% if form.tags %}
                            <div class="form-group input-group item-tags {% if form.tags.errors %}has-error{% endif %}">
                                 <label>
                                      {% trans "Tags" %}
                                      {% if form.tags.errors %}
                                          <span class='help-block'>({{ form.tags.errors|join:", " }})</span>
                                      {% endif %}
                                </label>
                              {{ form.tags|add_class:'form-control'|attr:'placeholder:Type and hit return'|attr:'data-role:tagsinput' }}
                            </div>
                            {% endif %}

                            <div class="form-group input-group item-reported-date {% if form.timestamp.errors %}has-error{% endif %}">
                                <label>
                                {% trans "Reported date" %}
                                {% if form.timestamp.errors %}
                                    <span class='help-block'>({{ form.timestamp.errors|join:", " }})</span>
                                {% endif %}
                                </label>
                                {{ form.timestamp|add_class:'form-control'|attr:"placeholder:yyyy-mm-dd"|attr:"aria-describedby:basic-addon1" }}
                            </div>

                            {% if form.region %}
                            <div class="form-group input-group item-region {% if form.region.errors %}has-error{% endif %}">
                                <label>
                                    {% trans "Region" %}
                                    {% if form.region.errors %}
                                        <span class='help-block'>({{ form.category.errors|join:", " }})</span>
                                    {% endif %}
                                </label>
                                <div class="selectContainer">
                                    {{ form.region|add_class:'form-control' }}
                                </div>
                            </div>
                            {% endif %}

                            {% if form.location %}
                            <div class="form-group input-group item-location {% if form.location.errors %}has-error{% endif %}">
                                <label>
                                    {% trans "Location" %}
                                    {% if form.location.errors %}
                                        <span class='help-block'>({{ form.location.errors|join:", " }})</span>
                                    {% endif %}
                                </label>
                                {{ form.location|add_class:'form-control'|attr:"Location"|attr:"rows:1"|attr:"cols:1"|attr:"style:resize:none;" }}
                            </div>
                            {% endif %}

                            {% if form.gender %}
                            <div class="form-group input-group item-gender {% if form.gender.errors %}has-error{% endif %}">
                                <label>
                                    {% trans "Gender" %}
                                    {% if form.gender.errors %}
                                        <span class='help-block'>({{ form.gender.errors|join:", " }})</span>
                                    {% endif %}
                                </label>
                                {{ form.gender|add_class:'form-control'|attr:"Gender"|attr:"rows:1"|attr:"cols:1"|attr:"style:resize:none;" }}
                            </div>
                            {% endif %}

                            {% if form.age %}
                            <div class="form-group input-group item-age {% if form.age.errors %}has-error{% endif %}">
                                <label>
                                    {% trans "Age" %}
                                    {% if form.age.errors %}
                                        <span class='help-block'>({{ form.age.errors|join:", " }})</span>
                                    {% endif %}
                                </label>
                                {{ form.age|add_class:'form-control'|attr:"Age"|attr:"rows:1"|attr:"cols:1"|attr:"style:resize:none;" }}
                            </div>
                            {% endif %}

                            {% if form.ennumerator %}
                            <div class="form-group input-group item-ennumerator {% if form.ennumerator.errors %}has-error{% endif %}">
                                <label>
                                    {% trans "Ennumerator" %}
                                    {% if form.ennumerator.errors %}
                                        <span class='help-block'>({{ form.ennumerator.errors|join:", " }})</span>
                                    {% endif %}
                                </label>
                                {{ form.ennumerator|add_class:'form-control'|attr:"Ennumerator"|attr:"rows:3"|attr:"cols:3"|attr:"style:resize:none;" }}
                            </div>
                            {% endif %}

                            {% if form.source %}
                            <div class="form-group input-group item-source {% if form.source.errors %}has-error{% endif %}">
                                <label>
                                    {% trans "Source" %}
                                    {% if form.source.errors %}
                                        <span class='help-block'>({{ form.source.errors|join:", " }})</span>
                                    {% endif %}
                                </label>
                                {{ form.source|add_class:'form-control'|attr:"Source"|attr:"rows:3"|attr:"cols:3"|attr:"style:resize:none;" }}
                            </div>
                            {% endif %}

                        </div>
                   </div>

                    <div class="row">

                        <div class="col-xs-12 col-md-4 form-group pull-right">
                           {% if update %}
                            {% bootstrap_button "Update" button_type="submit" name="action" value="update" button_class="btn btn-lg btn-success" %}
                            {% bootstrap_button "Cancel" button_type="submit" name="action" value="cancel" button_class="btn btn-lg btn-border" %}
                            {% else %}
                            {% bootstrap_button "Create" button_type="submit" name="action" value="create" button_class="btn btn-lg btn-success" %}
                                    {% bootstrap_button "Cancel" button_type="submit" name="action" value="cancel" button_class="btn btn-lg btn-border" %}
                                    {% endif %}
                        </div>

                        <div class="col-xs-12 col-md-8 form-group pull-left">
                            {% bootstrap_button "Delete" button_type="submit" name="action" value="delete" button_class="btn btn-danger" %}
                        </div>

                        </div>
                    </div>
                </div>
                </div>
        </form>
    </div>
{% endblock maincontent %}
