{% extends "base_side.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load widget_tweaks %}

{% block maincontent %}
<div class="container-fluid">
    <form id="single-item-form" role="form" method="POST">
        {% csrf_token %}
        {{ form.id }}
        {{ form.next }}
        <div class="panel panel-gray panel-rounded">
            <div class="panel-body">
                <div class="item-attributes">

                    {% if form.category %}
                    <div class="item-category form-group input-group {% if form.category.errors %}has-error{% endif %}">
                        <label class="control-label">
                            {% trans "Theme" %}
                            {% if form.category.errors %}
                            <span class='help-block'>({{ form.category.errors|join:", " }})</span>
                            {% endif %}
                        </label>
                        {{ form.category|add_class:'form-control' }}
                    </div>
                    {% endif %}

                    {% if form.feedback_type %}
                    <div class="item-feedback-type form-group input-group {% if form.feedback_type.errors %}has-error{% endif %}">
                        <label class="control-label" for="feedback_type.name">
                            {% trans "Type" %}
                            {% if form.feedback_type.errors %} <span class='help-block'>({{ form.feedback_type.errors|join:", " }})</span> {% endif %}
                        </label>
                        <select name="{{ form.feedback_type.name }}" class="form-control" id="feedback_type.name">
                            {% for choice in form.feedback_type.field.choices %}
                            {% if form.initial.feedback_type == choice.0 %}
                            <option selected="" value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% else %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}

                    {% if form.tags %}
                    <div class="item-tags form-group input-group {% if form.tags.errors %}has-error{% endif %}">
                        <label class="control-label">
                            {% trans "Tags" %}
                            {% if form.tags.errors %}
                            <span class='help-block'>({{ form.tags.errors|join:", " }})</span>
                            {% endif %}
                        </label>
                        {{ form.tags|add_class:'form-control'|attr:_('placeholder:Type and hit return')|attr:'data-role:tagsinput' }}
                    </div>
                    {% endif %}

                    <div class="item-apply form-group input-group">
                        {% bootstrap_button _("Cancel") button_type="submit" name="action" value="cancel" button_class="btn btn-md btn-border" %}
                        {% if update %}
                        {% bootstrap_button _("Update") button_type="submit" name="action" value="update" button_class="btn btn-md btn-success" %}
                        {% else %}
                        {% bootstrap_button _("Create") button_type="submit" name="action" value="create" button_class="btn btn-md btn-success" %}
                        {% endif %}
                    </div>

                </div>
                <div class="item-content">
                    <div class="item-source-wrapper">
                        {% if form.body %}
                        <div class="item-original-text {% if form.body.errors %}has-error{% endif %}">
                            <label>
                                {% trans "Feedback" %}
                                <span class="item-id">{{ item.id }}{% if item.external_id %} ({{ item.external_id }}){% endif %}</span>
                                {% if form.body.errors %}
                                <span class='help-block'>({{ form.body.errors|join:", " }})</span>
                                {% endif %}
                            </label>
                            {{ form.body|add_class:'form-control'|attr:_("placeholder:Type your original text here") }}
                        </div>
                        {% endif %}

                        <div class="item-source-meta">

                            <div class="item-reported-date {% if form.timestamp.errors %}has-error{% endif %}">
                                <label>
                                    {% trans "Reported date" %}
                                    {% if form.timestamp.errors %}
                                    <span class='help-block'>({{ form.timestamp.errors|join:", " }})</span>
                                    {% endif %}
                                </label>
                                {{ form.timestamp|add_class:'form-control'|attr:"placeholder:yyyy-mm-dd"|attr:"aria-describedby:basic-addon1" }}
                            </div>

                            {% if form.region %}
                            <div class="item-region {% if form.region.errors %}has-error{% endif %}">
                                <label>
                                    {% trans "Region" %}
                                    {% if form.region.errors %}
                                    <span class='help-block'>({{ form.region.errors|join:", " }})</span>
                                    {% endif %}
                                </label>
                                <div class="selectContainer">
                                    {{ form.region|add_class:'form-control' }}
                                </div>
                            </div>
                            {% endif %}

                            {% if form.location %}
                            <div class="item-location {% if form.location.errors %}has-error{% endif %}">
                                <label>
                                    {% trans "Location" %}
                                    {% if form.location.errors %}
                                    <span class='help-block'>({{ form.location.errors|join:", " }})</span>
                                    {% endif %}
                                </label>
                                {{ form.location|add_class:'form-control'|attr:"Location"|attr:"rows:1"|attr:"cols:1"|attr:"style:resize:none;" }}
                            </div>
                            {% endif %}

                            {% if form.sub_location %}
                                <label>
                                    {% trans "Sub-Location" %}
                                    {% if form.sub_location.errors %}
                                    <span class='help-block'>({{ form.sub_location.errors|join:", " }})</span>
                                    {% endif %}
                                </label>
                                {{ form.sub_location|add_class:'form-control'|attr:"Sub-Location"|attr:"rows:1"|attr:"cols:1"|attr:"style:resize:none;" }}
                            {% endif %}

                            {% if form.gender %}
                            <div class="item-gender {% if form.gender.errors %}has-error{% endif %}">
                                <label>
                                    {% trans "Gender" %}
                                    {% if form.gender.errors %}
                                    <span class='help-block'>({{ form.gender.errors|join:", " }})</span>
                                    {% endif %}
                                </label>
                                {{ form.gender|add_class:'form-control'|attr:"Gender"|attr:"rows:1"|attr:"cols:1"|attr:"style:resize:none;" }}
                            </div>
                            {% endif %}

                            {% if form.age_range %}
                            <div class="item-age-range {% if form.age_range.errors %}has-error{% endif %}">
                                <label>
                                    {% trans "Age range" %}
                                    {% if form.age_range.errors %}
                                    <span class='help-block'>({{ form.age.errors|join:", " }})</span>
                                    {% endif %}
                                </label>
                                <select name="{{ form.age_range.name }}" class="form-control" id="age_range.name">
                                    {% for choice in form.age_range.field.choices %}
                                    {% if form.initial.age_range == choice.0 %}
                                    <option selected="" value="{{ choice.0 }}">{{ choice.1 }}</option>
                                    {% else %}
                                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            {% endif %}

                            {% if form.contributor %}
                            <div class="item-contributor {% if form.contributor.errors %}has-error{% endif %}">
                                <label>
                                    {% trans "Contributor" %}
                                    {% if form.contributor.errors %}
                                    <span class='help-block'>({{ form.contributor.errors|join:", " }})</span>
                                    {% endif %}
                                </label>
                                {{ form.contributor|add_class:'form-control'|attr:"Contributor"|attr:"rows:1"|attr:"cols:1"|attr:"style:resize:none;" }}
                            </div>
                            {% endif %}

                            {% if form.collection_type %}
                            <div class="item-collection-type {% if form.collection_type.errors %}has-error{% endif %}">
                                <label>
                                    {% trans "Collection Type" %}
                                    {% if form.collection_type.errors %}
                                    <span class='help-block'>({{ form.collection_type.errors|join:", " }})</span>
                                    {% endif %}
                                </label>
                                {{ form.collection_type|add_class:'form-control'|attr:"Collection Type"|attr:"rows:1"|attr:"cols:3"|attr:"style:resize:none;" }}
                            </div>
                            {% endif %}
                        </div>

                    </div>

                    {% if form.translation %}
                    <div class="item-translation-text {% if form.translation.errors %}has-error{% endif %}">
                        <label>
                            {% trans "Translation" %}
                            {% if form.translation.errors %}
                            <span class='help-block'>({{ form.translation.errors|join:", " }})</span>
                            {% endif %}
                        </label>
                        {{ form.translation|add_class:'form-control'|attr:_("placeholder:Type your translation text here") }}
                    </div>
                    {% endif %}
                </div>

                {% bootstrap_button _("Delete feedback") button_type="submit" name="action" value="delete" button_class="btn btn-danger btn-link" %}

            </div>
        </div>
</div>
</form>
</div>
{% endblock maincontent %}
