{% extends "base_side.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}

{% block maincontent %}
    <h1 class="page-header"><span class="fa fa-download fa-fw"></span>{% trans "Sources" %}</h1>
    <ul class="list-unstyled">
        {% for source in sources %}
        <li class="well item-source clearfix">
          <div class="item-source-info pull-left">
            {% with "images/logo-"|add:source.name|add:".png" as logo_filename %}
            <h2><img  alt="{{ source.name }}" src="{% static logo_filename %}"/></h2>
            {% endwith %}
            </div>

            <form action="{% url "sources-upload" %}" method="post" enctype="multipart/form-data" class="item-source-actions auto-upload-file pull-right">
                {% csrf_token %}
                <div class='form-group'>
                    <a class="btn btn-primary btn-block btn-sm" value="View/Edit data" type="button" href="{% url "data-view" %}"><span class="fa fa-pencil fa-fw"></span> View &amp; Edit data</a>
                </div>
                <div class='form-group'>
                    {% bootstrap_form source.form show_label=False %}
                    <a class="btn btn-sm item-source-upload upload-button btn-block btn-primary" type="button" value="Upload" href="{% url "data-view" %}"><span class="fa fa-upload fa-fw"></span> Upload</a>
                </div>
            </form>
        </li>
        {% endfor %}
    </ul>

{% endblock maincontent %}
