{% extends "django_tables2/bootstrap.html" %}
{% load django_tables2 %}
{% load i18n %}

{% block pagination.previous %}
                    <li class="previous">
                        <a href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}">
                            <span aria-hidden="true">&lt;</span>
                            {% trans 'Previous page' %}
                        </a>
                        {% endblock pagination.previous %}

{% block pagination.next %}
                <li class="next">
                    <a href="{% querystring table.prefixed_page_field=table.page.next_page_number %}">
                        {% trans 'Next page' %}
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>
{% endblock pagination.next %}


{% block pagination %}
<div class="pagination-wrapper">
{% if table.page %}
{% with total=table.page.paginator.count count=table.page.object_list|length start_index=table.page.start_index end_index=table.page.end_index %}
{% if total == 1 %}
    {% trans "result" as results %}
{% else %}
    {% trans "results" as results %}
{% endif %}
<div class="box pagination-label"><span>{% blocktrans %}Showing {{ start_index }} - {{ end_index }} of {{ total }} {{ results }}{% endblocktrans %}</span></div>
{% endwith %}

{% endif %}
<div class="box pagination-pages">
{{ block.super }}
</div>
<div class="box pagination-selector">
<span>&nbsp;</span>
</div>
</div>
{% endblock pagination %}
