<!doctype html>
{% load assets %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}
<html>
<head>
  <meta charset="utf-8">

  <title>internewshid</title>
  <meta name="description" content="internewshid - Humanitarian Information Dashboard for Internews">
  <meta name="author" content="Aptivate">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  {% block bootstrap3_extra_head %}{% endblock %}
  {% assets "css_assets" %}
      <link href="{{ ASSET_URL }}" medial="all" rel="stylesheet" />
  {% endassets %}
  <link rel="shortcut icon" href="{% static "images/favicon.ico" %}?v=1" />
</head>

<body class="stretch-vertical">

    {% block content %}
    <div class="container-fluid stretch-vertical">
        <div class="row container-row">

            <div class="col-sm-12 col-md-12 main internews-main">

            {% block maincontent %}
            {% endblock maincontent %}
            </div>
        </div>
    </div>
    {% endblock content %}
    {% block bootstrap3_extra_js %}
        {% assets "javascript_assets" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    {% endblock %}
    {% block lastjs %}
    {% endblock %}
</body>
</html>
