{% load i18n %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}
<div class="panel-body panel-body-list-table">
    {% include "hid/tabs/dynamic_filters.html" %}
    <form action="{% url "data-view-process" %}"
          method="post"
          class="view-items-form">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% with pagination_class="pagination-circle-nav" %}
            {% render_table table %}
        {% endwith %}
        {% with button_placement="bottom" %}
            {% include "hid/tabs/view_and_edit_buttons.html" %}
        {% endwith %}
    </form>
</div>
