@CHARSET "UTF-8";

.internews-sidebar {
    color: #FFF;
}

html, body {
    height: 100%;
    background-color: #000;
}
.dont-stretch-vertical {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    width: 100%;
}

.messages > li {
    margin-bottom: .5em;
    padding: 1em;
}

.container-row {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    width: 100%;
}
.internews-sidebar,
.internews-main {
}

.sidebar-user {
    margin-right: 1.5em;
}
.sidebar-options > li {
    margin: 1em 0;
}
.sidebar-options .glyphicon {
    font-size: 1.5em;
    margin-right: .2em;
}

.internews-main {
    background-color: #fff;
}
.item-source {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid silver;
}

.item-source input[type="file"] {
    display: none;
}

/* ------------- login form ---------------- */

.login-form {
    margin-top: 100px;
}

/* ------------- pagination ---------------- */
.current {
    margin-left: 1em;
    margin-right: 1em;
}
.cardinality {
    margin-left: 3em;
}
.pagination > li > a {
    float: none;  /* Fix for bootstrap floating */
}
