@CHARSET "UTF-8";

.internews-sidebar {
	background-color: #000;
	color: #FFF;
	position: fixed;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.messages > li {
    margin-bottom: .5em;
    padding: 1em;
}

.internews-main, .internews-sidebar {
    margin-bottom: -2999px;
    padding-bottom: 2999px;
}
.internews-main {
    padding-top: 2em;
}

.item-source {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid silver;
}

.item-source input[type="file"] {
    display: none;
}

/* ------------- login form ---------------- */

.login-form {
    margin-top: 100px;
}
