// Global Styles

body {
    min-width:420px;
}


// Wrappers

#wrapper {
    width: 100%;
}

@media(min-width:@screen-sm-min) {
  .page-header {
    margin:@padding-large-vertical;
    &.header-tabs {
      margin-bottom:-25px;
      border:none;
    }
  }
  #page-wrapper {
      position: inherit;
      margin: 0;
      min-height: 1000px;
      background-color: @brand-secondary;
      .box-shadow-inset(inset, 0px, 0px);
  }
}

@media(min-width:@screen-xs)and (max-width:@screen-sm-min){
  .page-header {
    margin-top:20px;
    &.header-tabs {
      margin-bottom:-10px;
      border:none;
    }
  }

  #page-wrapper {
    margin-top:96px;
    margin-bottom:60px;
  }
}

#page-wrapper {
  padding:0 @padding-large-horizontal;
}
.navbar-default{
    padding: 2% 1% 2% 2%;
    background-color:@body-bg;
    border-bottom:1px solid @gray;
}

// Navs ===============================================================

.navbar-brand {
    padding-top:@padding-small-vertical * 3;
    background: url(../images/internews-logo.svg) no-repeat transparent;
    background-size: contain;
    font-weight: bold;
    font-size: small;
    line-height: 1;
    min-width: 150px;
    margin-right: 2em;
    color: @brand-secondary;
    // Deployment name
    span {
        display: inline-block;
        width: 183px;
        margin-left: 23%;
        margin-top: 12%;
        // Deployment Location
        span{
            color: @brand-primary;
            margin: 0;
        }
    }
}


// Dashboard / Feedback Pills
// -------------------------
.nav-pills {
  > li {
      font-weight: bold;
    float: left;
    // Links rendered as pills
    > a {
        border-radius: @border-radius-small;
        border: solid 1px transparent;
        transition: border 0.25s ease;
        &:hover,
        &:focus {
            color: @brand-primary;
            background-color: transparent;
            border: solid 1px @brand-primary;
        }
    }
    + li {
      margin-left: 2px;
    }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: @nav-pills-active-link-hover-color;
        background-color: @nav-pills-active-link-hover-bg;
        border: solid 1px @brand-secondary;
      }
    }
  }
  &:after{
      clear: none;
  }
}
.dropdown-menu li{
    border-bottom: solid 1px #ccc;
    &:last-child{
        border-bottom:none;
    }
}
// Utilities Upload/Export/Settings
.nav-utilities{
    font-size: @font-size-medium;

    .dropdown-menu {
        font-size: @font-size-medium;
        z-index: @zindex-upload-dropdown;
        margin: 0;
        padding: 0;

        & > li > a:hover,
        & > li > a:focus {
            background-image: none;
        }
        .auto-upload-file{
            padding: 0;
            margin: 0;
            .form-group{
                display: block;
                div{
                    display: flex;
                    flex-direction: column;
                    .radio{
                        display: block;
                        label{
                            display: block;
                            padding: @table-cell-padding;
                            border-bottom: solid 1px #ccc;
                            &:hover,
                            &:focus{
                                background-color: @brand-primary;
                                color: #fff;
                            }
                        }
                    }
                }
            }

        }
    }
}


// Search form
.navbar-form{
    .form-control{
        border-radius: 8px;
    }
    button[type="submit"]{
        display: none;
    }
}



// Secondary header nav
.last-uploaded{
    font-size: small;
    line-height: 1;
    color: @brand-primary;
    span{
        color: @brand-secondary;
    }
}



// --Sidebar

#side-menu {
  padding-top:@navbar-padding-vertical;
}

.sidebar {
    .sidebar-nav.navbar-collapse {
        padding-left: 0;
        padding-right: 0;
        clear:both;
    }
    margin-bottom:20px;
}

@media(max-width:@screen-sm){
  .navbar-collapse {
   padding-bottom:@padding-large-vertical;
   background-color:#CFEBFF;
  }
}

@media(min-width:@screen-xs-min) and (max-width:@screen-sm){
  .navbar-collapse {
    padding-top:@padding-large-vertical * 2;
    margin-bottom:-80px;
   }
}

.navbar-collapse.in {
     overflow-y:inherit;
   }

// --Nav Tabs next to page header

.nav.nav-tabs.navbar-right {
    padding-top: 43px;
    margin-right:@padding-small-horizontal;
}

.nav.nav-tabs.pull-right > li > a {
  margin-right:0;
  margin-left:2px;
}


// Dashboard
.main-content > .dashboard{
    margin-top: 1em;
}

// Footer

footer{
    clear: both;
    display: flex;
    justify-content: space-between;
    font-size: small;
    color: #fff;
    .project-info,
    .site-info{
        a{
            color: #fff;
        }
    }
}

@media(max-width:@screen-sm){
  .project-info{
    width: 100%;
    height: 30px;
    .box-shadow(0 -2px 4px rgba(0, 0, 0, 0.3));
    bottom: 0;
    padding-top: @padding-small-vertical;
  }
}



//footer

.footer {
   padding:15px 0;
   color:white;
   justify-content:space-between;
}

// Login Page

.login-panel {
    margin-top: 25%;
}

// Flot Charts Containers

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.flot-legend {
    padding-bottom: @padding-small-vertical;
    border-bottom: solid 1px @gray-lighter;
}

// Grid Demo Elements

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}


//icons
.fa-fw {
  color:@gray-base;
  margin-right:5px;
}

label{
    font-size: small;
}
