// Global Styles

body {
    min-width:420px;
}


// Wrappers

#wrapper {
    width: 100%;
}

@media(min-width:@screen-sm-min) {
  .page-header {
    margin:@padding-large-vertical;
    &.header-tabs {
      margin-bottom:-25px;
      border:none;
    }
  }
  #page-wrapper {
      position: inherit;
      margin: 0;
      min-height: 1000px;
      background-color: @brand-secondary;
      .box-shadow-inset(inset, 0px, 0px);
  }
}

@media(min-width:@screen-xs)and (max-width:@screen-sm-min){
  .page-header {
    margin-top:20px;
    &.header-tabs {
      margin-bottom:-10px;
      border:none;
    }
  }

  #page-wrapper {
    margin-top:96px;
    margin-bottom:60px;
  }
}

#page-wrapper {
  padding:0 @padding-large-horizontal;
}
.navbar-default{
    padding: 2% 1% 2% 2%;
}
// Branding
ul.nav.nav-pills:after{
    clear: none;
}
.navbar-brand {
    background: url(../images/internews-logo.svg) no-repeat transparent;
    background-size: contain;
    font-weight: bold;
    font-size: small;
    line-height: 1;
    min-width: 150px;
    margin-right: 2em;
    color: @brand-secondary;

    span {
            display: inline-block;
            width: 183px;
            margin-left: 23%;
            margin-top: 12%;
        
        span{
            color: @brand-primary;
            margin: 0;
        }
    }

}

@media(min-width:@screen-sm-min){
  .navbar-brand {
    padding-top:@padding-small-vertical * 3;
  }
}



// Navs =======================================================================


.dropdown-menu {

  & > li > a:hover,
  & > li > a:focus {
    background-image: none;
  }
}


// Pills
// -------------------------
.nav-pills {
  > li {
      font-weight: bold;
    float: left;

    // Links rendered as pills
    > a {
      border-radius: @border-radius-small;
        border: solid 1px transparent;
        &:hover,
        &:focus {
            color: @brand-primary;
            background-color: transparent;
            border: solid 1px @brand-secondary;
        }
    }
    + li {
      margin-left: 2px;
    }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: @nav-pills-active-link-hover-color;
        background-color: @nav-pills-active-link-hover-bg;
        border: solid 1px @brand-secondary;
      }
    }
  }
}

// Secondary header nav
.last-uploaded{
    font-size: small;
    line-height: 1;
    color: @brand-primary;
    span{
        color: @brand-secondary;
    }
}

.navbar-static-top {
  position:absolute;
  width:100%;
  .box-shadow(0 1px 4px rgba(0, 0, 0, 0.3));
  border:none;
  top:0;
  z-index:@zindex-navbar-fixed;
}

@media(min-width:@screen-sm-min) {
    .navbar-static-top {
        position:fixed;
        top:0;
      }
}


.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

@media(min-width:@screen-sm-min){
  .navbar-top-links li:last-child {
      margin-right: 15px;
  }
}
.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

@media(max-width:@screen-sm){
  .navbar-top-links li a {
    padding:5px 10px;
    min-height:10px;
    margin:5px 10px;
  }
}

.navbar-top-links > li > a,
.navbar-top-links > li > a > .fa {
  color:@gray-dark;
}

.navbar-top-links .dropdown-menu li {
    display: block;
    padding:0 @padding-small-horizontal 0 ;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: @nav-link-padding;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
    margin:0;
}

.navbar-top-links > li > a:hover,
.navbar-top-links > .open > a:focus {
  background-color:@brand-secondary;
}

// --Sidebar

#side-menu {
  padding-top:@navbar-padding-vertical;
}

.sidebar {
    .sidebar-nav.navbar-collapse {
        padding-left: 0;
        padding-right: 0;
        clear:both;
    }
    margin-bottom:20px;
}

@media(max-width:@screen-sm){
  .navbar-collapse {
   padding-bottom:@padding-large-vertical;
   background-color:#CFEBFF;
  }
}

@media(min-width:@screen-xs-min) and (max-width:@screen-sm){
  .navbar-collapse {
    padding-top:@padding-large-vertical * 2;
    margin-bottom:-80px;
   }
}

.navbar-collapse.in {
     overflow-y:inherit;
   }

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active > a > .fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: none !important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:@screen-sm-min) {
    .sidebar {
        z-index: @zindex-navbar;
        position: fixed;
        width: 250px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}



@media(max-width:@screen-xs) {
    .sidebar {
      margin-top:96px;
    }
 }

 @media(min-width:@screen-xs-min) and (max-width:@screen-sm) {
    .sidebar {
      margin-top:76px;
    }
 }

// --Nav Tabs next to page header

.nav.nav-tabs.navbar-right {
    padding-top: 43px;
    margin-right:@padding-small-horizontal;
}

.nav.nav-tabs.pull-right > li > a {
  margin-right:0;
  margin-left:2px;
}

//Project info

.project-info {
  position: fixed;
  bottom: 30px;
  text-align: center;
  width: 250px;
  font-size:12.5px;
  margin:0;
  z-index:@zindex-navbar-fixed;
}

@media(max-width:@screen-sm){
  .project-info{
    width: 100%;
    background-color: @gray-lightest;
    height: 30px;
    .box-shadow(0 -2px 4px rgba(0, 0, 0, 0.3));
    bottom: 0;
    padding-top: @padding-small-vertical;
  }
}

.project-info > a {
  width:120px;
  display:inline-block;
}
.project-info > a > img {
  width:100%;
}

//Site info

.site-info {
    border-top:1px solid #f5f5f5;

}

.site-info {
  font-size:12.5px;
  color:@gray;
  margin:0;
  text-align:right;
  padding:@padding-small-vertical;
  padding-bottom:0;
  & p{
    margin:0;
  }
  & a{
    color:@gray;
  }
}

@media(max-width:@screen-sm){
  .site-info {
    text-align:center;
    padding-bottom:50px;
  }
}



// Buttons

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: @brand-primary;
}

.btn-success.btn-outline {
    color: @brand-success;
}

.btn-info.btn-outline {
    color: @brand-info;
}

.btn-warning.btn-outline {
    color: @brand-warning;
}

.btn-danger.btn-outline {
    color: @brand-danger;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: white;
}

.btn-primary > .fa {
  color:@body-bg;
}

//footer

.footer {
    bottom: 0;
    width:100%;
    position: fixed;
    height:100px;

}

.footer {
    color: #78716e;
    font-size: 13px;
    text-align: center;
    padding:@padding-base-vertical;
    background-color:@gray-lighter;
    a {
      color:@gray;
    }
}


// Login Page

.login-panel {
    margin-top: 25%;
}

// Flot Charts Containers

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.flot-legend {
    padding-bottom: @padding-small-vertical;
    border-bottom: solid 1px @gray-lighter;
}

// Circle Buttons

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

// Auto-upload button. Progressive enhencement, this
// will be displayed if the associated js executes.
.auto-upload-file .upload-button {
    display: none;
}

// Grid Demo Elements

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}

// Panel customisation

.huge {
    font-size: 40px;
}

.panel  {
  border:none;
  border-color:transparent;
  .box-shadow(0px, 0px, 5px, 4);
}

.panel-heading {
 font-weight:bold;
 border:none;
 & h2 {
    display: inline;
    font-size: @font-size-base;
    font-weight: bold;
 }
 .fa {
   font-size:22px;
   position:relative;
   top:3px;
 }
}

.panel-heading-large {
  padding:25px 15px;
}

.panel-blue, .panel-primary {
    border-color: @brand-primary;
    .panel-heading {
        border-color: @brand-primary;
        color: white;
        background-color: @brand-primary;
        .fa {
        color:white;
      }
    }
    a {
        color: @brand-success;
        &:hover {
            color: darken(@brand-success, 15%);
        }
    }
}

.panel-green {
    border-color: @brand-success;
    .panel-heading {
        border-color: @brand-success;
        color: white;
        background-color: @brand-success;
        .fa {
        color:white;
      }
    }
    a {
        color: @brand-success;
        &:hover {
            color: darken(@brand-success, 15%);
        }
    }
}

.panel-red {
    border-color: @brand-danger;
    .panel-heading {
        border-color: @brand-danger;
        color: white;
        background-color: @brand-danger;
        .fa {
        color:white;
      }
    }
    a {
        color: @brand-danger;
        &:hover {
            color: darken(@brand-danger, 15%);
        }
    }
}

.panel-yellow {
    border-color: @brand-warning;
    .panel-heading {
        border-color: @brand-warning;
        color: white;
        background-color: @brand-warning;
        .fa {
        color:white;
      }
    }
    a {
        color: @brand-warning;
        &:hover {
            color: darken(@brand-warning, 15%);
        }
    }
}

.panel-body-list-table{
    padding: 0;
}

//icons
.fa-fw {
  color:@gray-base;
  margin-right:5px;
}
