// View/edit

// Filters
.filter-container {
  display: flex;
  background-color: #fff;
  padding: .5rem 0 .5rem 1rem;

  .filters {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1vh;

    [class^="filter-"] {
      display: flex;
      margin-right: 1vw;
      margin-top: 1vh;
      align-items: baseline;


      label {
        font-size: @font-size-small;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0 0.5rem 0 0;
        padding: 0.25rem 0 0.125rem 1rem;
      }

      // input & selects
      .form-control {
        border-radius: 8px !important;
        font-size: @font-size-small;
        padding: .1rem .5rem;
        color: @brand-primary;
        height: 3rem;
        width: auto;
        max-width: 11em;
      }

      // add space between when two or more input boxes are adjacent
      .form-control + .form-control {
        margin-left: 1.5%;
        flex-wrap: nowrap;
      }

      // Apply and cancel buttons
      &:last-child {
        border-right: none;
        flex-wrap: nowrap;
        padding-right: 0;
      }
    }

    .filter-dates {
      > input[type=date] {
        line-height: inherit;
        flex-basis: 48%;
      }
    }

    .filter-age{
      > input[type=number] {
        line-height: inherit;
        max-width: 4em;
      }
    }
  }

  .filter-buttons {
    display: flex;
    align-items: center;

    button[name="button-apply"] {
      background-color: @brand-primary;
      color: #fff;
      font-weight: bold;
      line-height: 1.8;
      border-radius: @border-radius-large;
      border: solid 1px @brand-primary;
      white-space: nowrap;
      &:hover, 
      &:focus{
        background-color: lighten(@brand-primary, 10%);
      }
      &:active{
        background: darken(@brand-primary, 10%)
      }
    }

    button[name="button-clear"] {
      font-size: smaller;
    }
  }
}


@media(max-width:@screen-sm){
    [class^="filter-"]{
        flex-direction: column!important;}
}

// Tables =====================================================================

table,
.table {
	table-layout: fixed;
	background-color:white;

  a:not(.btn) {
    text-decoration: none;
  }

  .dropdown-menu a {
    text-decoration: none;
  }

  .success,
  .warning,
  .danger,
  .info {
    color: #fff;

    a {
      color: #fff;
    }
  }
}


.table-no-border > thead > tr > th,
.table > tbody > tr > th,
.table-no-border > tfoot > tr > th,
.table > thead > tr > td,
.table-no-border > tbody > tr > td,
.table > tfoot > tr > td {
    border: none;
}
.table-background{
    background-color: #fff;
}

thead{
    background-color: @brand-secondary;
	text-transform: uppercase;
	font-size: 1rem;
	th {
        border-bottom: 0!important;
        overflow: hidden;
        text-overflow: ellipsis;
        &.orderable {
            .asc, .desc{
                background-color: @brand-primary;
            }

            a{
                color: #fff;
                text-decoration: none!important;
            }
            &.desc a:after,
            &.asc a:after{
                font-family: 'fontawesome';
                margin-left: 5px;
                color: #fff;
            }
            &.desc a:after{
                content: '\f0ab';
            }
            &.asc a:after{
                content: '\f0aa';
            }
        }
        /* set column widths
        Definitions could be set in the admin for flexibility in deployments
        */

        &#header-select{width: 6em}
        &#header-imported{}
        &#header-created{width: 10em}
        &#header-feedback{}
        &#header-translation{}
        &#header-theme{width: 15em}
        &#header-type{width:8em}
        &#header-tag{width: 8%}
        &#header-gender{width: 6em}
        &#header-age{width: 4em}
        &#header-location{width: 8%}
        &#header-enumerator{width: 9em}
        &#header-source{width: 6%}
    }

}

tbody {
    font-size: @font-size-small;
	td {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
        vertical-align: middle!important;
        .select-item-id-checkbox{
            text-align: center;
        }
	}
}

.table-striped > tbody > tr.selected.odd,
.table-striped > tbody > tr.selected.even{
    background-color: #e3edf8;
    transition: background-color 0.25s ease;
    &:hover{
        background-color: darken(#e3edf8, 10%);
    }
}


.table .form-control {
    line-height: 1em;
    height: inherit;
    padding: 5px;
    font-size: inherit;
    width: auto;
}

@media(max-width:@screen-sm){
  .form-control[name="batchaction-bottom"],
  .form-control[name="batchaction-top"]{
    width:45%!important;
  }
}


td.created, td.timestamp {
  color:@gray;
  font-size:@font-size-small;
}

.select_action > label {
  margin-bottom:0;
}

.view-items-actions {
  position:relative;
  bottom:65px;
  padding-right:0;
}

.view-items-form {
  .pagination-wrapper {
    color:white;
    display:flex;
    margin-bottom:10px;
    justify-content:space-between;

    > .box {
      flex:1;
      display:inline-flex;
      justify-content:center;
    }

    > .box:first-child > span {
      margin-right:auto;
    }

    > .box:last-child > span {
      margin-left:auto;
    }

    > .pagination-pages {
      flex-grow:2;
    }
  }

  .pagination {
    margin:0;
    padding:0;
    li {
      padding:10px;

      > a {
        position:static;
        float:none;
        color:white;
        background-color:@brand-secondary;
        border:none;
        padding:0;
      }
    }
  }
}

.messages-box {
  	margin: 0 -30px;
	position: fixed;
	z-index: @zindex-messages;
	top: 0;
	width: 100%;
    
    ul{
       color:#fff;
        li {
            text-align: center;
        }
    }
}

@media(max-width:@screen-sm){
  .messages-box {
      margin-top:0;
      min-height:0;
  }
}



//circle navigation

.pagination-circle-nav .btn-primary,
.pagination-circle-nav > li:first-child > a {
  border:none;
  padding:7px;
  background-color:@brand-primary;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  float:inherit;
}

// Add/upload buttons
.panel-heading .btn-group .btn {
    margin-left: 15px;
}

// Button header (and footer) for tables
.panel-body form .table-button-group {
    margin-bottom: @padding-base-vertical;
}

.panel-body form .table-button-group .form-control {
    float: left;
    width: auto;
    height: auto;
    padding: @padding-xs-horizontal @padding-base-vertical;
    margin-right: @padding-small-horizontal;
}

.panel-body .table-button-group select option[default] {
    font-weight: bold;
}

// Checkboxes

td.select_action,
th.select_action {
  background-color:rgba(0,0,0,0.05);
  text-align:center;
}


.select-item-id-checkbox {
   > input[type="checkbox"] + .fa-check-circle:before,
   > input[type="checkbox"] + label > .fa-check-circle:before {
       font-size:25px;
       content: "\f058";
       color:@gray;
       &:hover{
           color: red;
       }
   }

   > input[type="checkbox"]:checked + .fa-check-circle:before,
   > input[type="checkbox"]:checked + label > .fa-check-circle:before {
       color:@brand-primary;
   }

   > input[type="checkbox"] {
     display:none;
   }
}

@-moz-document url-prefix() {
    input[type="checkbox"] {
       background-image:none;
    }
  }

input[type="checkbox"]:hover {
   background-position:top center;
    background-color:@brand-primary;
}

input[type="checkbox"]:checked {
 background-color:@brand-primary;
 background-position:top right;
 outline:0;
 border:none;
}

tbody select option{
	line-height: 2;
	padding: 10px;
    &:hover{
        background-color: @brand-primary;
        color: #fff;
    }
}


// View Edit feedback item

.item-attributes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem 0;

    [class^="item-"]{
        display: flex;
        flex-direction: row;
		flex-wrap: nowrap;
        padding-right: 0.5%;
        margin:0 1% 0 0;
        align-items: baseline;


        label{
            font-size: @font-size-small;
            font-weight: bold;
            text-transform: capitalize;
			margin:0 1rem 0 0;
    		padding: 0.25rem 0 0.125rem 1rem;
        }
        // input & selects
        .form-control{
            border-radius: 8px!important;
            border: solid 1px @gray-light;
            font-size: @font-size-small;
            padding: .1rem .5rem;
            color: @brand-primary;
            height: 3rem;
			width: auto;
            max-width: 10em;
        }
        
		// Apply and cancel buttons
        &:last-child{
            border-right: none;
			flex-wrap: nowrap;
			padding-right: 0;
			margin: 0;
        }
    }

	
    .item-tags{
        flex-grow: 2;
        > div{
            border-radius: 8px;
            padding: 6px 4px;
        }
        input{
            padding: 0;
            font-style: italic;
            font-size: small;
        }
    }

	.item-apply{
        justify-content:flex-end;
        align-items: baseline;
        flex-grow: 1;
        button{
            margin-left: 1rem;
            border-radius: @border-radius-large;
            white-space: nowrap;
        }

    }
}
.item-content{
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
    
    .item-source-wrapper,
    .item-translation-text{
        border: solid 1px @gray;
        flex-basis: 48%;
       
    }
    .item-original-text,
    .item-translation-text {
        label{
        padding: 1rem;
        display: block;
        background-color: #fff;
        margin: 0;
    }
        .form-control{
            border-color: #fff;
        }
    }
    .item-source-meta{
        background-color: #e5e5e5;
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
        [class^="item-"]{
            flex-basis: 50%;
             display: flex;
            label{
                flex-basis: 45%;
                font-size: 12px;
            }
            .form-control{
                font-size: 12px;
                height: auto;
                background-color: rgba(255,255,255,0.7);
                border: none;
                padding: 0;
                box-shadow: none;
                margin: 0 5px 10px;
                &:focus,
                &:hover{
                    background-color: #fff;
                }
            }
        }

    }
}
/*

.item-type {
  color: @brand-primary
}

.item-meta-info {
  font-size:13px;
  color:@gray;
}

.input-group .control-label {
  padding:10px;
}


.input-group.item-original-text,
.input-group.item-translation-text,
.input-group.item-attributes-text{
    float: left;
	padding: 1em 1em 1em 2em;
	margin-left: 1rem;
}


.view-items-form table .body a {
    text-decoration: none;
}
*/

.missing-body {
  color: @brand-danger;
}

.panel-rounded{
    border-radius: 10px;
}

