{% extends "base.html" %}
{% load i18n %}
{% block content %}
<!-- Navigation -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="col-xs-12 featured-image"></div>
        <nav class="sidebar-nav navbar-collapse collapse">
            <ul class="nav" id="side-menu">
                <li><a class="active" href="{% url "dashboard" %}"><span class="fa fa-dashboard fa-fw"></span> Dashboard</a></li>
                {# <li><a href="{% url "sources" %}"><span class="fa fa-download fa-fw"></span> Sources</a></li> #}
                <li><a href="{% url "tabbed-page" name="main" tab_name="all" %}"><span class="fa fa-pencil fa-fw"></span> View &amp; Edit</a></li>
            </ul>
        </nav>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.sidebar -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
                <button title="show/hide menu" data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand pull-left" href="/">{% trans "HID  " %}<span class="subtitle">{% trans "Humanitarian Information Dashboard" %}</span></a>
            </div>
        <!-- /.navbar-header -->
        {% if request.user.is_authenticated %}
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown pull-right">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="fa fa-user fa-fw"></span>  {{ request.user }}  <span class="fa fa-caret-down"> </span>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{% url "admin:index" %}"><span class="fa fa-gear fa-fw"></span>{% trans "Administration" %}</a></li>
                    <li><a href="{% url "logout" %}?next={% url 'login' %}" class=""><span class="fa fa-sign-out fa-fw"></span>{% trans "Log out" %}</a></li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
        </ul>
        {% endif %}
        <!-- /.navbar-top-links -->
    </nav>
    <!-- /Navigation -->
    <!-- Main Content -->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="row messages-box">
                    <div class="spinner">
                        <span>loading...</span>
                      <div class="rect1"></div>
                      <div class="rect2"></div>
                      <div class="rect3"></div>
                      <div class="rect4"></div>
                      <div class="rect5"></div>
                    </div>
                {% if messages %}
                    <ul class="list-unstyled">
                        {% for message in messages %}
                        <li{% if message.tags %} class="alert {{ message.tags }} {% if message.tags == "error" %}bg-danger{% else %}bg-success{% endif %}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                   {% endif %}
                </div>
                <div class="row main-content">
                    {% block maincontent %}
                    {% endblock maincontent %}
                </div>
                <div class="row site-info">
                    <p>developed by<a href="http://www.aptivate.org" title="Aptivate website"> Aptivate</a></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="project-info">
        <a href="http://www.internews.org" title="a project of Internews"><img src="{{ STATIC_URL }}images/rsz_a-project-of-internews.png" alt="a project of Internews"></a>
    </div>
    <!-- /Main Content -->
{% endblock content %}

