// View/edit 

.table .form-control {
  line-height:1em;
  height:inherit;
  padding:5px;
}

.created, .timestamp {
  color:@gray;
  font-size:@font-size-small;
}

.view-items-actions {
  position:relative;
  bottom:65px;
  padding-right:0;
}

.view-items-form .pagination {
    margin-top: 0;
    padding-right: 0;
    li {
      padding:10px;
    }
}

.messages-box .alert {
  padding:5px 10px;
  margin-top:40px;
}
