// View/edit 

.table .form-control {
  line-height:1em;
  height:inherit;
  padding:5px;
}

td.created, td.timestamp {
  color:@gray;
  font-size:@font-size-small;
}

th.delete > input {
  margin-right:10px;
}

th.delete > label {
  margin-bottom:0;
}

.view-items-actions {
  position:relative;
  bottom:65px;
  padding-right:0;
}

.view-items-form .pagination {
    margin-top: 0;
    padding-right: 0;
    li {
      padding:10px;
    }
}

.messages-box > ul {
  margin-top:40px;
  color:#fff;
}

.messages-box > ul > li {
  padding:5px 10px;
}
