{% extends "base_side.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load render_widget %}

{% block maincontent %}
    <h1 class="page-header"><span class="fa fa-dashboard fa-fw"></span>{% trans "Dashboard" %}</h1>
    {% for row in rows %}
        <div class='row dashboard'>
            {% for widget in row %}
            <div class='col-lg-{{ widget.width }} col-md-{{ widget.width }} col-sm-{{ widget.width }} widget-height-{{ widget.height }}'>
                    {{ widget|render_widget }}
            </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock maincontent %}

